{% extends "base.html" %}

{% block main %}
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Su carrito de compras</h2>
                        <span>Revise sus artículos antes de realizar el pago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h2>Tu Carrito de Compras</h2>

{% if cart.cart %}
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Imagen</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for key, item in cart.cart.items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    {% if item.image %}
                        <img src="{{ item.image }}" alt="{{ item.name }}" width="50">
                    {% else %}
                        Sin imagen
                    {% endif %}
                </td>
                <td>{{ item.cant }}</td>
                <td>${{ item.price|floatformat:2 }}</td>
                <td>${{ item.cant|floatformat:2 }}</td>
                <td>
                    <!-- Botones de acción -->
                    <a href="{% url 'cart:add' item.id %}">Agregar</a> |
                    <a href="{% url 'cart:subtract' item.id %}">Restar</a> |
                    <a href="{% url 'cart:delete' item.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total: ${{ total_cart_amount|floatformat:2 }}</h3>

    <!-- Botón para limpiar el carrito -->
    <a href="{% url 'cart:clear' %}">Vaciar Carrito</a>

{% else %}
    <p>El carrito está vacío. ¡Agrega productos para comenzar!</p>
{% endif %}
{% endblock %}